.chip {
    width: 100%;
}

.chip p {
    padding: 0.2rem;
    text-align: center;
    word-break: keep-all;
}

.chip p:last-of-type {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}