.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.category {
    padding: 0.5rem 1rem;
    width: 50%;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    height: 2.5rem;
    background: #eee;
}